.feed-container {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  padding: 0;
  margin: 0;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);

  .feed-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    min-height: 60px;
    align-items: center;
    text-align: center;
    background: #FFF;
  }
  
  .feed-header > h3 {
    width: 100%;
    height: 100%;
  }
  
  .feed-body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 90%;
    overflow: auto;
    flex-direction: column;
    background: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  }
  
  .item{
    width: 100%;
    border-bottom: 1px dashed;
    background: #FFF;
    padding-top: 10px;

    label.text{
      width: 100%;
      padding: 15px;
    }

  }

  .dashboard-feed-item{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
  }

  img{
    width: 130px;
    height: 130px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */
  
}

