div.last-update-container{
    margin-top: -35px;
    text-align: right;
    width: 100%;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    
    div.board-last-update{
        font-size: 11px;
        padding-right: 25px;
        font-weight: 700;
        color: rgba(0,0,0,.47);
    }

}