.board-card {
  position: absolute;
  width: 100%;
  height: 100%;
  color:white;
}

.board-five {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  color:white;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.board-five-header {

}
.board-five-header {

}
.board-five-body {
  font-size: 5em;
}

.board-five-footer {
  display:flex;
  align-items: center;
  flex-direction: column;
}

.board-five-footer .board-five-footer-value {
  font-weight: bold;
  font-size: 2em;
}
